<div name="student_list" id="student_list">
    <form>
        <input type="hidden" name="action" value="student_list" />
        <input type="hidden" name="xsrf_token" value="{{ student_list_xsrf_token|escape }}">

        <div class="sl-header" name="student_list_header">
            <div>
                <label>Course Name:</label>
                <label>{{section.section_name}}</label>
            </div>
            <div>
                <label>Academic Year:</label>
                <label>{{section.section_year}}</label>
            </div>
            <div>
                <label>Status:</label>
                <label>{{section.section_active}}</label>
            </div>
            <div>
                <label>Description:</label>
                <label>{{section.section_description}}</label>
            </div>
            <div>
                <label class="gcb-button add-students">Add Students</label>

                <script>
                    $(function() {
                        $(".add-students").click(function() {
                            var addStudentsPopup = new AddStudentsPopup('{{ section.section_id }}',
                            '{{add_student_xsrf_token}}');
                            addStudentsPopup.open(function (students) {
                                var table = $(document).find('.student-list-table');
                                table.remove('tbody');
                                addStudentsPopup.rebuildStudentsTable(students, table);
                            });
                        })
                    });
                </script>
            </div>
        </div>

        <div id="sl-right">
            <table class="student-list-table" name="student_list_table">
                <thead>
                    <tr>
                        <th colspan="3">Students</th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Course Completion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student_key in section.students %}
                        <tr>
                            <td>{{ section.students[student_key]['name'] }}</td>
                            <td>{{ section.students[student_key]['email'] }}</td>
                            <td>20%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="sl-footer">
            <a class="gcb-button" href="/sample/modules/teacher_dashboard?action=teacher_dashboard&tab=">Exit</a>
        </div>

    </form>
</div>