{% if students %}
    <div style="margin-bottom: 15px;">
        <label>Please enter a student email: </label>
        <input id="students_dropdown">
    </div>

    <script>
         $(document).ready(function() {
            var data = [
                {% for student in students%}
                  {
                    value: "{{ student['email'] }}",
                    label: "{{ student['name'] }}",
                    desc: "{{ student['email'] }}"
                  } {% if not loop.last %},{% endif %}
                  {% endfor %}
                ];

            $("#students_dropdown").autocomplete({
                source: function (request, response) {
                        function hasMatch(s) {
                            return s.toLowerCase().indexOf(request.term.toLowerCase())!==-1;
                        }
                        var i, l, obj, matches = [];

                        if (request.term==="") {
                            response([]);
                            return;
                        }

                        for  (i = 0, l = data.length; i<l; i++) {
                            obj = data[i];
                            if (hasMatch(obj.label) || hasMatch(obj.desc)) {
                                matches.push(obj);
                            }
                        }
                        response(matches);
                    },
                select: function (a, b) {
                    $('#student-detail-section').css('display', 'block');
                    var unitList = new UnitList();

                    var unitListLoaded = $.Deferred(function(def) {
                      unitList.load(function() {
                        def.resolve()
                      }, b.item.value);
                    });
                    $.when(unitListLoaded).then(function() {
                      var studentDetailTable = new StudentDetailTable(unitList);
                      $('.student-detail-table tr:gt(0)').remove();
                      studentDetailTable._buildBody().appendTo('.student-detail-table');

                      $('.student-name').text(unitList.getStudentName());
                      $('.student-email').text(unitList.getStudentEmail());
                    });
                }
            })
            .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                    .append( "<a>" + item.label +
                        "<br><span style='font-size: 80%;'>Email: " + item.desc + "</span>" )
                    .appendTo( ul );
            };

        });
    </script>
{% else %}
  <script>
      cbShowMsg('There are no students currently associated with any courses.');
  </script>
{% endif %}

<div id="student-detail-section" {% if not student %} style="display: none;" {% endif %} >
    <h3>Student Dashboard for <span class="student-name">{{ student.name }}</span></h3>

    <div class="student-detail" style="margin: 5px;">
        <div style="margin: 3px;">
            <label class="data student-email">{{student.email}}</label>
        </div>
    </div>

    <table class="student-detail-table" style="margin-top: 15px; width: 30%;">
      <colgroup>
        <col style="width: 10%">
        <col>
      </colgroup>

        <tr>
            {# I18N: Table header for the student's assessment scores. #}
            <th class="expand-one" align="left" colspan=2>
                {{ gettext('Unit Completion') }}
            </th>
        </tr>

        {% if units %}
      {% for unit in units %}
        <tr class="content-one {{unit['unit_id']}} unit_title">
          <th style="cursor:pointer;color:blue" align="left">&nbsp;&nbsp;&nbsp;{{ unit['title'] }}</th>
          <td>
              <span id="unit-completion-{{unit['title']}}">{{ unit['completion'] * 100 }}%</span>
          </td>
        </tr>
        {% for lesson in unit['lessons'] %}
        <tr class="content-one {{unit['unit_id']}}-lessons" style="display: none;">
            <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ lesson['title'] }}</th>
            <td>
                <span id="lesson-completion-{{unit['title']}}">{{ lesson['completion'] / 2 * 100 }}%</span>
            </td>
        </tr>
        {% endfor %}
      {% endfor %}

      {% for unit in units %}
        <script>
            $('.{{unit['unit_id']}}').click(function(){
                $('.{{unit['unit_id']}}-lessons').slideToggle('fast');
            });
        </script>
      {% endfor %}
        {% endif %}

      {% for header, value in extra_student_data %}
        {% if header or value %}
          <tr>
            <th align="left">{{ header }}</th>
            <td>{{ value }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
</div>

