<link rel="stylesheet" href="../resources/css/view.css" type="text/css">
<link rel="stylesheet" href="../resources/css/student_progress.css" type="text/css">

<div name="student_list" id="student_list">
    <form>
        <input type="hidden" name="action" value="student_list" />
        <input type="hidden" name="xsrf_token" value="{{ student_list_xsrf_token|escape }}">

        <div id="sl-info" name="student_list_header">
            <div>
                <label class="title">Course Name:</label>
                <label class="data">{{section.section_name}}</label>
            </div>
            <div>
                <label class="title">Academic Year:</label>
                <label class="data">{{section.section_year}}</label>
            </div>
            <div>
                <label class="title">Status:</label>
                <label class="data">{{section.section_active}}</label>
            </div>
            <div>
                <label class="title">Description:</label>
                <label class="data-last">{{section.section_description}}</label>
            </div>
        </div>
        
            <div class="student-list-nav-bar-div">
                <a class="gcb-button add-students gcb-pull-right">Add Students</a>

                <script>
                    $(function() {
                        $(".add-students").click(function() {
                            var addStudentsPopup = new AddStudentsPopup('{{ section.section_id }}',
                            '{{add_student_xsrf_token}}');
                            addStudentsPopup.open(function (students) {
                                var table = $(document).find('.student-list-table');
                                table.remove('tbody');
                                addStudentsPopup.rebuildStudentsTable(students, table);
                            });
                        })
                    });
                </script>
                
                <a class="gcb-button gcb-pull-right" href="#deleteStudent">Delete Student</a>
                <a class="gcb-button gcb-pull-right" href="#editSection">Edit Section</a>
                <a class="gcb-button gcb-pull-right" href="#addSection">Create/Add Section</a>
                
                <div style="clear: both; padding-top: 2px;">
                    <h3>Students (2)</h3>
                </div>
            </div>

        <p class="description">Manage your student enrollment here.</p>

        <div id="sl-left">
            <div class="student-progress">
                <div class="row">
                    <div class="left-matter header">
                        <div class="name">Student Name</div>
                    </div>
                    <div class="header">
                        <div class="name">Email</div>
                    </div>
                </div>
                <ol class="sl-students">
                     {% for student_key in section.students %}
                        <li data-unit-id="1">
                            <div class="row student">
                                <div class="left-matter">
                                    <div class="fname">{{ section.students[student_key]['name'] }}</div>
                                    <div class="lname">LastName</div>
                                </div>
                                <div class="email">{{ section.students[student_key]['email'] }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>

        <div class="sl-footer">
            <a class="gcb-button gcb-pull-right" href="/sample/modules/teacher_dashboard?action=teacher_dashboard&tab=">Exit</a>
        </div>

    </form>
</div>