<div>
    <form action="/sample/modules/teacher_dashboard?action=teacher_reg&tab=teacher_reg" method='post'>
        <input type="hidden" name="action" value="teacher_reg" />
        <input type="hidden" name="xsrf_token" value="{{ teacher_reg_xsrf_token|escape }}">

        Name: <input type="text" name="firstname" value="first name">
        <input type="text" name="lastname" value="last name"><br>

        Primary Email: <input type="text" name="Primary Email" size="35"><br><br>

        School: <input type="text" name="School Name"><br>

        <input type="submit" />

    </form>
</div>