<link rel="stylesheet" href="../resources/css/view.css" type="text/css">

<div>
    {% if alert_messages %}
        <script>
            $(function() {
                cbShowAlert("{{ alert_messages | js_string }}");
            });
        </script>
    {% endif %}

    <div style="clear: both; padding-top: 2px;">
            <h3>Register Teacher</h3>
        </div>

        <p class="description">Register new teachers and instructors here.</p>

    <form action="/sample/modules/teacher_dashboard?action=teacher_reg&tab=teacher_reg" method='post'>
        <input type="hidden" name="action" value="teacher_reg" />
        <input type="hidden" name="xsrf_token" value="{{ teacher_reg_xsrf_token|escape }}">

        <div style="max-width: 350px;">
            <label for="email" style="width: 100%;">Email:</label><br />
            <input id="email" type="text" name="email" size="35">
            <br /><br />
            <label for="school" style="width: 100%; margin-top: 15px;">School:</label>
            <br />
            <input id="school" type="text" name="school" size="35">
        </div>
        <br />
        <input style="margin: 10px 0px 10px 0px; " class="gcb-button" type="submit" value="Register" />
    </form>
</div>